/* Additional styles added 1/16/07 -----------------------------------------------------------------*/
.legalMark {
	font-size:70%;
	margin-top:0px;
	vertical-align:top;
}


/* tables  -----------------------------------------------------------------*/
.tableNoborder {
	margin:5px 0px;
	padding:1px;
	font-size:11px;
} 

.tableNoborder td {
	padding:3px;
	margin:0px;	
	text-align:left;
	font-size:11px;	
} 


.dataTable {
	margin:12px 0px;
	padding:0px;
	border:1px solid #999;
	font-size:11px;
	line-height:13px;
}

.dataTable th {
	background-color:#CCC;
	font-weight:bold;
	padding:3px;
	margin:0px;	
	text-align:left;
	vertical-align:top;
}


.dataTable td {
	border-top:1px solid #ccc;
	padding:3px;
	margin:0px;	
	text-align:left;
	vertical-align:top;
	font-size:11px;	
}

.dataTable td.noline {
	border-top:1px solid #fff;
	padding:3px;
	margin:0px;	
	text-align:left;
	vertical-align:top;		
}

.dataTable td.center {
	text-align:center;
}

.footnote p {
	font-size:11px;
	line-height:13px;
}

.footnote ul {
	font-size:11px;
	line-height:13px;
	margin-top:5px;
}

.footnote li {
	font-size:11px;
	line-height:13px;
}

/* images in content ------------------------------------------------------- */
.imageLeft {
	float:left;
	margin-top:12px;
	margin-right:6px;
	border:1px solid #A1A1A1;
	padding:2px;
}

.imageLeft img {

}

.imageLeft p{
	border-top:1px solid #A1A1A1;
	margin-top:2px;
	font-size:10px;
	line-height:12px;
	padding:2px 6px;
	padding-top:4px;
}

.imageRight{
	float:right;
	margin-top:12px;
	margin-left:6px;
	border:1px solid #A1A1A1;
	padding:2px;
}

.imageRight img {
	
}

.imageRight p{
	border-top:1px solid #A1A1A1;
	margin-top:2px;
	font-size:10px;
	line-height:12px;
	padding:2px 6px;
	padding-top:4px;
}

.internalNavLink {
	height:1%;
}

.internalNavLink  a {
	font-size:11px;
	line-height:13px;
	background: url(/img/gray_box.gif) left 5px no-repeat;
 	padding: 0;
 	padding-left: 15px;
 	margin: 7px 13px 3px 18px;
}

h5 {
	color: #0d4590;
	font-size:12px;
	line-height:16px;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:0px;
}

h4 {
	color: #0d4590;
	font-size:11px;
	line-height:16px;
	margin-top:10px;
	margin-bottom:0px;
}

.linkDescItem {
	text-transform:uppercase;
	background:url(/images_new/secondary_desc_right.gif) no-repeat;
	padding-left:32px;
	margin-bottom:10px;
	font-size:11px;
	line-height:13px;
	font-weight:bold;
	color:#4D5B8D;
}

.linkDescItem a:link {text-decoration:none;color:#4D5B8D;}
.linkDescItem a:visited {text-decoration:none;color:#4D5B8D;}
.linkDescItem a:active {text-decoration:none;color:#0C65CC;}
.linkDescItem a:hover {text-decoration:none;color:#0C65CC;}

.linkDescDesc {
	text-transform:none;
	font-size:11px;
	color:#000;
	line-height:16px;
	font-weight:normal;
}

.linkDescHR {
	color:#A1A1A1;
	margin-top:0px;
	margin-bottom:10px;
	clear:both;
}


.boxLogins {
border:1px solid #6577B9;
margin:2px;
padding:2px;
font-size:10px;
}

.boxLogin {
	width:150px;
	border:1px solid #6577B9;
	background-color:#CCD9E8;
	margin:3px;
	padding:2px;
}

.headerAbout {
   color: #ffffff;
   margin-bottom: 4px;
   padding-left: 29px;
   padding-right: 167px;
   background: url(/img/newsite/banners/jpgs/rsa_int_banners_about1.jpg) top left no-repeat;
   height: 126px;
}

div.headerAbout a {
   color: #e0e0e0;
}

div.headerAbout h3 {
   margin-top: 45px;

}

.headerSolutions {
   color: #ffffff;
   margin-bottom: 4px;
   padding-left: 29px;
   padding-right: 167px;
   background: url(/img/newsite/banners/jpgs/rsa_int_banners_solutions1.jpg) top left no-repeat;
   height: 126px;
}

div.headerSolutions a {
   color: #e0e0e0;
}

div.headerSolutions h3 {
   margin-top: 45px;

}

.headerProducts {
   color: #ffffff;
   margin-bottom: 4px;
   padding-left: 29px;
   padding-right: 167px;
   background: url(/img/newsite/banners/jpgs/rsa_int_banners_products3.jpg) top left no-repeat;
   height: 126px;
}

div.headerProducts a {
   color: #e0e0e0;
}

div.headerProducts h3 {
   margin-top: 45px;

}

.headerServices {
   color: #ffffff;
   margin-bottom: 4px;
   padding-left: 29px;
   padding-right: 167px;
   background: url(/img/newsite/banners/jpgs/rsa_int_banners_services2.jpg) top left no-repeat;
   height: 126px;
}

div.headerServices a {
   color: #e0e0e0;
}

div.headerServices h3 {
   margin-top: 45px;

}

.headerPartners {
   color: #ffffff;
   margin-bottom: 4px;
   padding-left: 29px;
   padding-right: 167px;
   background: url(/img/newsite/banners/jpgs/rsa_int_banners_partners2.jpg) top left no-repeat;
   height: 126px;
}

div.headerPartners a {
   color: #e0e0e0;
}

div.headerPartners h3 {
   margin-top: 45px;

}


.headerFraud {
   color: #ffffff;
   margin-bottom: 4px;
   padding-left: 29px;
   padding-right: 167px;
   background: url(/img/newsite/banners/jpgs/rsa_int_banners_fraud2.jpg) top left no-repeat;
   height: 126px;
}

div.headerFraud a {
   color: #e0e0e0;
}

div.headerFraud h3 {
   margin-top: 45px;

}



.headerInnovation {
   color: #ffffff;
   margin-bottom: 4px;
   padding-left: 29px;
   padding-right: 167px;
   background: url(/img/newsite/banners/jpgs/rsa_int_banners_innovation1.jpg) top left no-repeat;
   height: 126px;
}

div.headerInnovation a {
   color: #e0e0e0;
}

div.headerInnovation h3 {
   margin-top: 45px;

}


.rightColunn {
	padding-top:36px;
}

.footer_pr {
	font-size:10px;
	line-height:12px;
	color:#000000;
	padding:10px 10px 0px 0px;
}


