/* Tranlation Box */

.translation { 
  xborder: 1px solid #0d45bb;
  xborder: 1px solid #C3D3E5;
  xbackground-color: #F6F8FB;  
  xborder: 1px solid #303030;
  
  border: 1px solid #808080;
  xborder: 1px solid #0d4590;
  background:  transparent url('/img/translate_icon.png') 4px 8px no-repeat;   
  background-color: #f2f7fb;
  xbackground-color: #F6F8FB;  
  color: #0d4590;

  width: auto;
  padding: 4px 4px 4px 30px;
  line-height: 24px;
  text-align: left;
  position: absolute;
  display: none;
  top: 0; left: 0;
  white-space: nowrap;
  xwidth: 200px;
}
div.sidebar .relatedDocuments .translation a { 
   display: inline; padding: 0; background: none;
   font-weight: bold;
}
div.sidebar .relatedDocuments .translation a:hover { 
   color: red;
}